* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ysabeau Infant', sans-serif;
*/

#banner {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 1%;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
}

/* video de background */
video {
  position: absolute;
  z-index: -1; /* usado para por para tras (como se fosse camadas do canvas ) */
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* parte de foto*/

.container { /*container moldura, o que fica por dentro */
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(imagens/Picsart_24-06-11_14-26-25-624.jpg);
  background-size: cover;
  background-position: center;
}

.container::before { /*borda colorida, o que fica por fora */
  content: "";
  width: 215px;
  height: 215px;
  background-image: linear-gradient(#7CCC7A, #3F993D, #FFFFFF, #166614, #013300);
  z-index: -1;
  position: absolute;
  border-radius: 100%;
  
}

/* parte de nome e cargo */

.texto-foto {
  font-family: 'Ysabeau Infant', sans-serif;
  padding-top: 5%;
}

.texto-foto p {
  padding-top: 10px;

}



/*links das redes*/
  #banner #links {
    display: flex;
    flex-flow: column wrap; 
    width: 26%;
    text-align: center;

  }

  #links div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #7CCC7A, #3F993D, #166614, #013300);
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
    text-align: end;
  }


  /* para baixo somente hover e  before */
  #links div:hover {

    background: linear-gradient(to right, #13f78c, #0be6e6, #f700c5) border-box;
    border-radius: 15px;
    border: 1px solid transparent;
    transition: 0.1s;
  }

  .container:hover:before { /*borda colorida, o que fica por fora */
    content: "";
    width: 215px;
    height: 215px;
    background-image: linear-gradient(to left,   #13f78c, #0be6e6, #f700c5);
    z-index: -1;
    position: absolute;
    border-radius: 100%;
    transition: 0.1;
    
  }

  h1::before { /*tarja colorida embaixo do nome */
    content: "";
    position: absolute;
    background: linear-gradient(to right, #13f78c, #0be6e6, #f700c5);
    height: 5px;
    width: 55px;
    bottom: 31.5%;
    left: 20.5%;
  }










  


