* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/*topo*/
header {
    background-color: #00C9D0;
    position: fixed;
    width: 100%;
}

header div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 12%;
    max-width: 1024px;
    flex-flow: row nowrap;
}

header nav {
    display: flex;
    flex-flow: row nowrap;
    color: #ffffff;
    
}

header img {
    width: 110px;
}

/* aba nav*/
header nav a {
    padding: 0 10px;
    color: #ffffff;
    font-weight: 400;

}

header nav a:hover, .container-link:hover {
    color: rgba(0, 0, 0, 0.466);
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.466);
    transition: 0.2s;
}

/* main*/

main {
    color: #0000008c;
    margin-bottom: 60px;
  }

/* imagem de fundo*/
.logo {
    background: url(assets/recepcao.png);
    background-size: cover;
    background-attachment: fixed;
    height: 435px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo .container-titulo {
    width: 1024px;
    height: 570px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo h1 {
    line-height: 50px;
    color: #ffffff;
    font-weight: lighter;
    text-shadow: 0px 0px 20px #06edf5;
    padding-left: 5%;
}


#sobre, #especialidades, #contato, #footer {
    max-width: 1024px;
    margin: 0 auto;

}

img {
    width: 250px
}

.sobre-img {
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
    flex-flow: row nowrap;
}

.container-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding-bottom: 20px;
}

.container-texto h2, p {
    margin: 15px 0;
    font-weight: normal;
}

h3 {
    text-align: center;
}

.titulo-lista ul {
    padding-left: 10%;
} 

.titulo-lista h3 {
    padding: 15px;
    margin: 15px -15px;
}

.especialidade {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.especialidade-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    gap: 80px;
}

.especialidade-img figure {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.541);
}

.especialidade-img h3 {
    padding: 5px 0;
    font-weight: 400;
}

.container-link {
    text-align: center;
    width: 150px;
    padding: 10px;
    margin: 20px;
    background-color: #00C9D0;
    font-weight: bold;
}

.container-link a {
    color: #ffffff;
}

iframe {
    width: 1024px;
}

footer {
    background-color: #0d6e71;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
    color: #ffffff;

}


/* RESPONSIVIDADE */

@media (max-width: 425px) {
    header div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
    }

    header {
        max-width: 425px;
    }

    header nav {
        border-top: 1px solid #0000008c;
    }

    .imagem-medico {
        display: none;
    }

    iframe {
        max-width: 425px;
    }
    body {
        text-align: center;
    }

    h1 {
        font-size: 26px;
        margin: 0 auto  ;
    }


}


@media (min-width: 768px) and (max-width: 1023px) {

    header div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        flex-flow: row nowrap;
    }

    header {
        min-width: 768px;
        max-width: 1024px;
    }

    .imagem-medico {
        display: none;
    }

    iframe {
        width: 768px;
    }
}

@media (min-width: 1024px) {

    header div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        flex-flow: row nowrap;
    }

    header {
        min-width: 1024px;

    }


    iframe {
        width: 1024px;
    }
}








