body {
    background-color: #D5D5D5;
}
img{
    width: 190px;
    border: 2px solid #F5F5F5;
    border-radius: 25px 15px;
}
div {
    width: 930px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #F5F5F5;
    padding: 20px;
    color: #000000;

}
h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;

}

p {
    font-size: 16px;
}

a { 
    font-size: 14px;
    text-decoration: none;
    background-color: #49B970;
    border-radius: 50px;
    padding: 10px;
    color: #F5F5F5;
}

a:hover {
    font-size: 14px;
    text-decoration: none;
    background-color: #49B970;
    border-radius: 50px;
    padding: 10px;
    color: #F5F5F5;
    border: 3px solid #F5F5F5;
}

span {
    font-weight: bold;
}